<div class="row">
  <nav class="navbar navbar-default" ng-controller="NavbarController">
    <div class="col-md-10 col-md-offset-1">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Small Groups</a>
      </div>
      <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
        <ul class="nav navbar-nav" ng-if="loggedIn">
          <li ng-class="getClass('/')"><a ng-click="goToMain()">Main</a></li>
          <li ng-class="getClass('/groups')"><a ng-click="goToGroups()">Groups</a></li>
          <li><a href="#">Prayer Requests</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="loggedIn">
          <li><a href="#">My Account</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="!loggedIn">
          <li><a ng-click="goToSignUp()">Sign Up</a></li>
          <li><a ng-click="goToLogin()">Log In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>