<div class="col-md-10 col-md-offset-1">
<div class="page-header">
  <h1>Home</h1>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h4>Prayer Requests</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h4>My Prayer Requests</h4>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="page-header">
    <h3>Groups</h3>
  </div>
</div>
</div>